h1, h2, h3,  h4, h5, h6, p, ul, ol, li, q, a, th, td {
    font-family: monospace;
    color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
    color: #b5e383;
}

h1 {
    font-size: 28pt;
    font-weight: bold;
}

h2 {
    font-size: 20pt;
    font-weight: bold;
}

h3 {
    font-size: 15pt;
    font-weight: lighter;
}

p {
    font-size: 12pt;
}

.course-title {
    font-size: 2em;
}

.urn {
    font-size: 1.75em;
}

.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


 table {
    border: 1px solid black;
    border-collapse: collapse;
 }

 th, td {
    border-collapse: collapse;
    border: 1px solid black;
 }

 .centre {
    width: 50%;
    margin: auto;
 }

 body {
    background-color: #1A1A1A;
 }

 .svg-green {
    filter: invert(99%) sepia(80%) saturate(1237%) hue-rotate(21deg) brightness(96%) contrast(90%);
 }

 .toplogo {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 50%;
 }

 /* html, body {
    height: 100%;
    margin: 0;
    padding: 0;
 } */

 html {
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
 }

.slide-container {
    text-align: center;
    position: relative;
}

.button-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: -100px;
}

.button {
    padding: 10px 20px;
    background-color: #b5e383;
    color: #000000;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 5px;
}

 .slide-window {
    width: 100%;
    max-width: 1280px;
    border-radius: 2px;
    border: 3px solid #b5e383;

 }

 .slide-button-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: -50px;
 }