table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 30%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

p.ex1 {
    /* margin-left: 2.5%; */
    margin-left: auto;
    font-size: 2em;
}

h1.main {
    color: #cf4e38;
}